*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

body {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: repeat(3, 1fr);
    width: 100vw;
    height: 100vh;
}

nav { 
    /* places nav in top right corner*/
    grid-column: 2;
    grid-row: 1;
}

.nav-content { 
    /* places text next to eachother and spaces evenly*/
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}

a { 
    color: inherit;
    text-decoration: none;
    
} 

footer {
    grid-column: 2;
    grid-row: 4;
    text-align-last: justify; /*spaces icons evenly*/
    padding: 10px;
}

.profile-pic {
    grid-column: 1;
    grid-row: 2;
    padding-right: 20px;
    
}

.logo-pic {
    grid-column: 1;
    grid-row: 1;
    padding: 10px;
}

.intro-heading {
    grid-column: 1;
    grid-row: 2;
    font-family: 'Staatliches', cursive;
    font-size: 200px;

}

/* potential fonts
font-family: 'Anton', sans-serif;
font-family: 'Knewave', cursive;
font-family: 'Staatliches', cursive;*/

.head-container {
    display: flex;
    padding: 100px;

}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}

.about-div {
    grid-column: 2;
    grid-row: 2;
    padding-right: 200px;
}